<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 style="text-align:center">
    MWA Homework 13
  </h1>

<h2><strong>Tasks: </strong></h2>
<h3>1. Smart & Dumb components</h3>

<app-smart></app-smart>

<h3>2. IsVisible Directive</h3>
<span [isVisible]="true">I am visible!</span><br>
<span [isVisible]="false">I am not visible!</span>

<h3>3. MakeBigger Directive</h3>
<span style="display:inline-block;width:50px;height:50px;background-color:red;text-align: center;cursor:pointer" makeBigger>Double click on me</span>

<h3>4. Multi Pipe</h3>
<p>My name is {{"Tulga Orosoo " | multi:3}}</p>

